.heading{
  font-family: $font-nav;
  color: black;
  text-align: center;

   &--1{
    font-size: 6rem;
    letter-spacing: 4px;

    @include respond-to(tablet-large){
      font-size: 5rem;
    letter-spacing: 4px;
    }

    @include respond-to(tablet){
      font-size: 4.5rem;
    letter-spacing: 3px;
    }

    @include respond-to(mobile-small){
      font-size: 3rem;
      letter-spacing: 2px;
    }

   }

   &--2{
    font-size: 5rem;
    letter-spacing: 2px;

    @include respond-to(tablet-large){
      font-size: 4rem;
    letter-spacing: 2px;
    }

    @include respond-to(tablet){
      font-size: 3rem;
    letter-spacing: 2px;
    }

    @include respond-to(mobile-small){
      font-size: 2rem;
      letter-spacing: 1.3px;
    }

   }

   &--3{
    font-size: 2rem;
    letter-spacing: 1.5px;
  }

  &--sub{
    text-wrap: nowrap;
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 500;

    @include respond-to(mobile-medium){
      font-size: 1.4rem
    }

  }
}