*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  margin: 0 auto;

}
