.footer {
    font-family: $font-display; 
    font-weight: 400;
    background-color: $black;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 2rem 0;

    @include respond-to(mobile-small){
      padding: 4rem 2rem 2rem 2rem;
    }

    &__left,
    &__center,
    &__right {
      @include respond-to(mobile-small) {
        // align-items: center !important;
        text-align: center !important;
        width: 100%;
      }
    }
  
    &__main {
        width: 90%;
      display: flex;
      justify-content: space-around; 
      align-items: center;
      flex-wrap: wrap; 
      margin: 0 auto;
      padding-bottom: 4rem;

      @include respond-to(mobile-medium) {
        
        gap: 4rem;
      }
    }
  
    &__left {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      text-align: left;
  
      .footer__logo {
        max-width: 150px;  
        width: 100%;
        height: auto;
      }
  
      &-box {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      @include respond-to(mobile-small) {
        gap: 2rem;
      }
    }
  
 
    &__center {
        align-items: center;

      
      .footer__nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include respond-to(mobile-small){
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
  
  
        .footer__nav-link {
          text-decoration: none;
          color: #fff;
          font-size: 1.4rem;
          transition: color 0.3s;
          &:hover {
            color: #ccc;
          }
        }
      }
    }
  

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end; 
      text-align: right;
      gap: 1rem;
  
      .footer__heading {
        color: #fff;
        margin: 0;
        font-size: 1.4rem;
      }
  
      .footer__social {
        display: flex;
        gap: 1.5rem;
      }
  
      a:hover {
        opacity: 0.8;
      }

      // @include respond-to(mobile-medium) {
      //   align-items: center;
      //   text-align: center;
      // }
  
      @include respond-to(mobile-small) {
        align-items: center;
        text-align: center;
      }
    }
  

    &__text {
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
 
    &__copyright {
      text-align: center;
      width: 100%;
  
      .footer__divider {
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        width: 70%;
        margin: 0 auto 2rem auto;
      }
  
      &--text {
        font-size: 0.9rem;
        color: #fff;
      }
    }
  }
  
 
  