$white: #fff;
$black: #000;

$font-primary: "Anton", sans-serif;
$font-display: "Montserrat", sans-serif;
$font-nav: "Bebas Neue", sans-serif;
$font-4: "Nunito";
$font-5: "Oswald";
$font-6: "Staatliches";
$font-7: "Barlow";
$font-8: "Rubik";
$font-9: "Mukta Malar";
$font-10: "Inter";

$shadow-button: 2px 5px 5px rgba(0, 0, 0, 30%);
$shadow-cards: 0 4px 6px rgba(0, 0, 0, 0.1);

//SCREEN SIZE
$bp-mobile-small: 25em; // 400px
$bp-mobile-medium: 37.5em; // 600px
$bp-tablet: 48em; // 768px
$bp-tablet-large: 64em; // 1024px
$bp-desktop-small: 80em; // 1280px
$bp-desktop-medium: 90em; // 1440px
